
 body {
   background-image: url(../images/wood-background.jpg);
   padding-top: 70px
 }

 #introduction {
   background-image: url(../images/wrapper-background.jpg);
   background-repeat: no-repeat;
   margin: 0 auto;
   border:2px solid #000;
   box-shadow: 0 0 15px #000;
   margin-bottom: 40px;
 }

 #introduction a {
   color:black;
 }

 #introduction p {
   margin-left: 20px;
   margin-right: 20px;
   text-align: justify;
   font-family: 'Roboto Mono', monospace;
   font-size: 18px;
 }
#introduction h1 {
color:black;
font-family: 'Cabin Sketch', cursive;
font-size: 60px;
font-weight: bold;
text-align: center;
}
 #introduction h2 {
   margin-left: 20px;
   margin-right: 20px;
   color: black;
   font-family: 'Roboto Mono', monospace;
 }
 #introduction h3 {
   margin-left: 20px;
   margin-right: 20px;
   color: black;
   font-family: 'Roboto Mono', monospace;
 }
 #introduction img {
   margin-left: 20px;
   margin-right: 20px;
   width:300px;
   box-shadow: 5 0 10px #000;
 }
 #about {
   background-color: white;
   margin: 0 auto;
   border:2px solid #000;
   box-shadow: 0 0 15px #000;
   margin-bottom: 40px;
 }

 #about p {
   margin-left: 20px;
   margin-right: 20px;
   text-align: justify;
   font-family: 'Roboto Mono', monospace;
 }
 #about h1 {
 color:black;
 text-align: center;
 font-family: 'Cabin Sketch', cursive;
 font-size: 60px;
 font-weight:bold;
 }
 #about h2 {
 color:black;
 font-family: 'Cabin Sketch', cursive;
 font-size: 40px;
 font-weight:bold;
 margin-left: 10px;
 }


 .location-header {
   background-color: white;
   margin: 0 auto;
   border:2px solid #000;
   box-shadow: 0 0 15px #000;
   margin-bottom: 40px;
   text-align: center;
 }

.location-header a {
  font-family: 'Cabin Sketch', cursive;
  font-size: 60px;
  color: black;
  font-weight: bold;
  margin-top: 30px;
}
.cafe-review {
  background-color: white;
  margin: 0 auto;
  border:2px solid #000;
  box-shadow: 0 0 15px #000;
  margin-bottom: 40px;
}

.cafe-review p {
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
  font-family: 'Roboto Mono', monospace;
}

.cafe-review li {
    font-family: 'Roboto Mono', monospace;
}
.cafe-review h2 {
color:black;
margin-left: 20px;
font-family: 'Roboto Mono', monospace;
}

.navbar {
  box-shadow: 0 0 15px #000;
}
.img-circle {
  border-radius: 50%;
  height:100px;
  border: 3px solid #000;
  margin: 0 auto;
  margin-bottom: 20px;
}

.thumbnail {
padding: 0;
border: 0;
}
